doctype html
html.no-js(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title authentication
    link(rel='stylesheet', type='text/css', href='../res/css/main.css')
    script(type='text/javascript', src='../res/js/jquery-3.1.1.min.js')
    script(type='text/javascript', src='../res/js/main.js')
  body
    .title
      h2 Auth_service
    .login-page
      .form
        form#register.register-form
          input(type='text', name='name', placeholder='name')
          |  
          input(type='email', name='email', placeholder='email address')
          |  
          input(type='password', name='pass', placeholder='password')
          |  
          button#register_button(type='submit') create
          p.message
            | Already registered? 
            a(href='#') Sign In
        form#login.login-form
          input(type='email', name='email', placeholder='email address')
          |  
          input(type='password', name='pass', placeholder='password')
          |  
          button#login_button(type='submit') login
          p.message
            | Not registered? 
            a(href='#') Create an account
