<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>service|request</title>
	<link rel="stylesheet" type="text/css" href="../res/css/main.css">
	<script type="text/javascript" src="../res/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../res/js/main.js"></script>
</head>

<body>
	<div class="title">
		<h2>service_main</h2>
	</div>
	<div class="twofactor-page">
        <div id="qrcode">
            <p><strong>please scan this QRcode</strong></p>
            <img src="" alt="secret_code">
            <button id="qrcode_button">verify</button>
        </div>
        <div class="token">
            <form class="token-form" id="token">
                <input type="text" name="token" placeholder="Enter Code" />
                <button id="token_button" type="submit">easeAuth</button>
                <p><strong>please use the google authenticator</strong></p>
            </form>
        </div>
    </div>
</body>

</html>
